DEBUG=false

# USERNAME AND PASSWORD SUPERUSER
POCKETBASE_URL=
POCKETBASE_USERNAME=
POCKETBASE_PASSWORD=
POCKETBASE_LOCAL_CLIENT=true # if true when pocketbase hit in backend server will call pocketbase with local url (docker) 

FILE_SIZE=2 # MAX File Size in GB
UPLOAD_PATH=uploads

TELEGRAM_BOT_TOKEN=
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_CHAT_ID=

DOCKER_APP_PORT=3000
DOCKER_POCKETBASE_PORT=8090